<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="header" style="text-align:center"> 
        <a href="/logout"> Logout </a><br>
    </div>
    <br>
    <% if(enrolled.length != 0) { %> 
    Enrolled Courses:
    <ul>
        <% for(var course of enrolled){ %>
        <li><%= course.coursetitle %> offered by <%= course.instructorname %> </li>
    <%  } %>
    </ul>
    <% } %>
    <% if(pending.length != 0) { %>
    Pending Courses:
    <ul>
        <% for(var course of pending){ %>
        <li><b><%= course.coursetitle %></b> offered by  <b> <%= course.instructorname %> - <i> </b> <%= {0: "Pending Instructor Approval", 1: "Pending Advisor Approval", 5: "Rejected"}[course.status] %></i> </li>
    <%  } %>
    </ul>
    <% } %>
    <a href="/offerings"> Add More Courses </a><br> 
</body>
</html>